* {
    box-sizing: border-box;
    margin: 0%;
    /* removes white space on top of the background */
    padding: 0%;
}

.header {
    background-color: rgba(22, 22, 23, .8);
    height: 36px;
    margin-bottom: 50px;
}

.header img {
    max-width: 26px;
}

.links ul {
    font-size: 16px;
    display: flex;
    list-style: none;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 26px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, Helvetica Neue, Helvetica,Arial sans-serif;
}

/* last minute gift section */

.last-minute-gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.last-minute-gift img {
    max-width: 500px;
}

.last-minute-gift .title {
    font-size: 26px;
}

.last-minute-gift .one-liner {
    font-size: 26px;
}

.last-minute-gift ul {
    list-style: none;
    color: blue;
    font-size: 20px;
}

/* iphone 15 section */

.iphone-15-pro {
    background-color: black;
    height: 700px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iphone-15-pro, .title, .catch-phrase {
    color: white;
}

.iphone-15-pro .title {
    font-size: 66px;
}

.iphone-15-pro .catch-phrase {
    font-size: 26px;
    margin-bottom: 16px;
}

.iphone-15-pro-list ul  {
    list-style: none;
    font-size: 20px;
    display: flex;
    gap: 36px;
    margin-bottom: 66px;
}
.iphone-15-pro-list ul a {
    color: #2997ff;
}



.iphone-15-pro img {
    min-width: 1340px;
    margin-left: 400px;
}

/* appleProducts */

.appleProducts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 800px;
    flex-wrap: wrap;
}

.macBook-section,
.appleWatch-section {
    background-color: grey;
    color: white;
}

.macBook-section .header-container,
.appleWatch-section .header-container {
    font-size: 36px;
}

.macBook-section .links-container ul a,
.appleWatch-section .links-container ul a {
    color: #2997ff;
}

.macBook-section .links-container ul, 
.appleWatch-section .links-container ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.appleWatch-section  {
    background-color: beige;
}

.macBook-section img,
.appleWatch-section img {
 width:952px;
}

.macBook-section img {
    margin-top: 100px;
}

